.recipeCard {
  background-color: #faf4e8;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px; 
  width: 100%;
  margin: 0;
  flex-basis: 100%;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .recipeCard {
    flex-basis: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .recipeCard {
    flex-basis: calc(33.33% - 20px);
    width: calc(33.33% - 20px);
  }
}

/* Hover effect on the component root */
.recipeCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s ease-in-out;
}

.recipeImage {
  width: 20%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* Headings and Lists */

.recipeCard h2 {
  color: #333;
  font-size: 24px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.recipeCard h3 {
  color: #555;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* List Styles */

.ingredients ul,
.instructions ol {
  padding-left: 20px;
  line-height: 1.6;
}

.ingredients li {
  list-style-type: disc;
}

.instructions li {
  list-style-type: decimal;
}
